body {
    background-color: $ice;
    font-family: $space;
    color: $midnight;
}

h1 {
    font-family: $space;
    font-size: 48px;
    margin: 20px;
}

h2 {
    font-family: $space;
    font-size: 36px;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-lists {
    display: flex;
}

.char-list {
    display:flex;
    flex-direction: column;
    align-items: center;
    ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
    }
}

.char-img {
    width: 250px;
}

.comparison {
    width: 300px;
}
.extra-information {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.movies-div {
    display:flex;
}

.list-one {
    display:flex;
    flex-direction: column;
    padding: 12px;
    ul {
        padding-left: 0px;
        margin: 0px;
        &:empty{
            height: 0px;
        }
        
    }
}

.list-two {
    display:flex;
    flex-direction: column;
    padding: 12px;
    ul {
        padding-left: 0px;
        margin: 0px;
        &:empty{
            height: 0px;
        }
    }
}

img {
    border-radius: 48px;
    height: 200px;
    margin: 12px;
    object-fit: cover;
}

button {
    font-family: $space;
    font-size: 16px;
    text-transform: uppercase;
    background-color: $teal;
    color: $ice;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: darken($teal, 10%);
    }
  }
  